html,
body,
#root,
.app,
.content {
    height     : 100%;
    width      : 100%;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #ebeef7;
}

.app {
    display : flex;
    position: relative;
}


/* For Scrollbar */
::-webkit-scrollbar {
    width: 13px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #d3d3d3;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid transparent;
    transition: background-color 0.2s;
    border-color: rgb(106, 155, 201);

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #929292;
  }